* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body{
  font-family: Arial, Helvetica, sans-serif;

}


.main {
  max-width: 1400px;
  margin: 0 auto;
  background-image: linear-gradient(#090d17a0,#090d178d), url("public/assets/backgraund.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, max-content);
  grid-template-areas:
  "header"
  "home"
  "footer";
}


.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 60px;
  background-color: #161b3187;

}

.header__nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.icon__home{
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#1755a0,#0f407d);
  color: #6491d4;
  cursor: pointer;
}

.nav__ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: 15px;
}

.list__nav{
  font-size: 15px;
  margin: 0px 20px;
}

.links__nav{
  color: white;
  text-decoration: none;
}

.logo{
  color: white;
  margin-right: 135px;
  cursor: pointer;
}

.user{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button__money{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 25px;
  font-size: 11px;
  color: white;
}

.money{
  border-bottom: 2px solid #8d8b8b;
  border-left: 2px solid #8d8b8b;
  border-top: 2px solid #8d8b8b;
  border-radius: 50px;
  /* opacity: 0; */
}

.money__cantidad{
  margin-right: 30px;
  margin-left: 15px;
  padding: 5px 0px;
}

.icon__money{
  width: 45px;
  height: 50px;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#4193DE,#2878c3);
  color: white;
  position: absolute;
  margin-left: 100px;
  z-index: 100px;
  cursor: pointer;
}

.icon__avatar1 {
  width: 60px;
  height: 70px;
  margin-left: 5px;
  border-radius: 50%;
  border: 3px solid black;
  object-fit: cover;
  cursor: pointer;
}


.config{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon__config{
  font-size: 20px;
  color: #8d8b8b;
  margin-right: 20px;
  margin-left: 15px;
  cursor: pointer;
}

.config__ul{
  list-style: none;
}

.config__links{
  margin: 20px;
  display: none;
  text-decoration: none;
}


.home{
  display: grid;
  grid-area: home;
  width: 100%;
  height: 69vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.home__cards{
  width: 87%;
  height: 95%;
  padding: 20px;
  border-radius: 50px;
  display: grid;
  grid-template-columns:  repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 30px;
  position: relative;
}

.home__card{
  border-radius: 20px;
  padding: 20px;
  color: white;
}

.card__toad{
  background: #0a1018cd;
}

.toad__img{
  position: absolute;
  width: 280px;
  top: -10px;
  margin-left: 110px;
  transform: rotate(40deg) scaleX(-1);
  user-select: none;
}


.waluigi__img{
  position: absolute;
  width: 300px;
  top: -10px;
  margin-left: 85px;
  transform: rotate(15deg);
  user-select: none;
}

.bowser__img{
  position: absolute;
  width: 390px;
  top: 240px;
  margin-left: 250px;
  transform: rotate(2deg);
  user-select: none;
}


.home__icon{
  display: flex;
  flex-direction: row;
  align-items: center;
}


.icon__user{
  width: 30px;
  height: 30px;
  font-size: 15px;
  border-radius: 50%;
  background: #89D138;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icon__text{
  margin-left: 10px;
}

.home__text{
  font-size: 30px;
  margin-top: 10px;
}

.home__text2{
  color: #7596a3;
  margin-top: 10px;
  font-size: 15px;
}

.home--text3{
  color: white;
}

.home__buttom{
  margin-top: 40px;
}

.home__buttom1{
  color: white;
  text-decoration: none;
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background: linear-gradient(#59a1ed,#117CED);
}

.home__buttom1--waluigi{
  background: linear-gradient(#cb46ec,#89089a);
}

.home__buttom1--bowser{
  background: linear-gradient(#eb834f,#FD651B);
}

.home__buttom1--buttom2{
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  background:#1d2833;
}

.card__bowser{
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bowser__text{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 35px;
}

.bowser__text2{
  color: #7596a3;
  margin-left: 45px;
  font-size: 15px;
}

.bowser__persona{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  width: 280px;
  height: 60px;
  margin-bottom: 13px;
  font-size: 13px;
  border-radius: 5px;
  background: #111a2d;
}


.bowser__avatar{
  width: 35px;
  height: 40px;
  border-radius: 10px;
  object-fit: cover;
}


.card__text-nomber{
  margin-right: 15px;
}


.card__mas{
  margin-top: 15px;
  font-size: 15px;
  color: #8d8d8d;
}

.card__bowser{
  background:  #0a1018cd;
  grid-column: 3/4;
  grid-row: 1/3;
}

.card__waluigi{
  background: #0a1018cd;
}

.cards{
  background: #0a1018cd;
  height: 250px;
  grid-column: -4/3;
}

.footer{
  grid-area: footer;
  background-color: #0A0F15;
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;

}


.logo--footer{
  margin: 0px;
  padding: 0px 80px;
}

.nav{
  margin-right: 10px;
}

.nav__ul--footer{
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.nav--top{
  margin-bottom: 40px;
}

.list__nav--footer{
  font-size: 10px;
}

.redes{
  font-size: 10px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 20px;
  color: white;
}

.redes__link{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.icon__home--redes{
  margin-top: 25px;
  width: 40px;
  height: 40px;
  color: white;
}

.linkedin{
  background: #376999;
}

.twitter{
  background: #2e2e2e;
}

.instagram{
  background: linear-gradient(#EC2D7B,#f1e14b);
}

.youtube{
  background: red;
}

.membresia{
  width: 240px;
  height: 120px;
  padding: 20px;
  border-radius: 20px;
  margin-left: 35px;
  background: #111d25;
  border: 2px dashed rgb(119, 119, 119);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.membresia_escudo{
  width: 60px;
}


.membresia__text{
  color: white;
  font-size: 12px;
  margin-left: 10px;
}

.membresia__text3{
  color: #4193DE;
}